
.pricing img {
    width: 90px
}

.pricing {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bar-1 {
    width: 60px;
    height: 7px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.bg-color-grey {
    background-color: grey;
}

.bg-color-blue {
    background-color: blue;
}

.bg-color-green {
    background-color: green;
}

.bg-color-red {
    background-color: red;
}

.profile img {
    width: 100px;
}



.genesys-container {
    max-width: 1200px;
    margin-top: 50px;
    margin-left: 40px;
    
}

.profile img {
    width: 150px;
    margin-top: 10px;
}

.location {
    color: #6fbaf8;
}

.profile-name {
    margin-right: 40px;
    height: 160px;
    
}


.profile img {
    width: 135px;
    padding-top: 10px;
}


.detail-title {
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
}

.detail-content {
    font-size: 12px;
    margin-top: 15px;
}

.profile-bline {
    width: 140px;
    height: 3px;
    background-color: #6fbaf8;
    border-radius: 5px;
    justify-content: flex-start;
}

.profile-tline {
    width: 950px;
    height: 0.1px;
    background-color: #6fbaf8;
    border-radius: 5px;
    margin-top: 1px;
}

.find {
    text-align: center;
}
